.footer
    font-family: "Enigma"
    font-size: 11px
    background: $backgroundcolorFont
    width: 100%
    display: flex
    justify-content: center
    flex-direction: row
    padding: 50px 0px

.footer span
    color: $fontcolor
    margin: 0px 10px

.footer a
    text-decoration: none
    height: 0px

.pushRight
    font-family: $font-text
    margin-left: 20px
    cursor: pointer
    width: 80px

.hover-underline-animation-footer
    position: relative
    color: #ffffff
    padding-bottom: 20px

.hover-underline-animation-footer:after
    content: ""
    position: absolute
    width: 100%
    transform: scaleX(0)
    height: 2px
    bottom: 18px
    left: 0
    background-color: #ffffff
    transform-origin: bottom right
    transition: transform 0.55s ease-out

.line:hover .hover-underline-animation-footer:after
    transform: scaleX(1)
    transform-origin: bottom left

// Responsive horizontal tablet

@media only screen and (min-device-width: 768px) and (max-width: 1200px) and (orientation: landscape)
    .footer
        font-size: 15px

    .footer span
        margin-left: 40px

    .pushRight
        margin-left: 30px

    .hover-underline-animation-footer:after
        height: 3px

// Responsive vertical tablet

@media only screen and (min-device-width: 568px) and (max-width: 1200px) and (orientation: portrait)
    .footer
        font-size: 15px

    .footer span
        margin-left: 30px

    .pushRight
        margin-left: 90px
        width: 150px

    .hover-underline-animation-footer:after
        height: 3px

// Responsive monitor 16/9
@media only screen and (min-device-width: 1200px) and (max-width: 2000px)

    .footer
        font-size: 16px

    .children-footer1
        flex: 1
        text-align: center

    .children-footer2
        flex: 1
        text-align: center

    .pushRight
        margin-left: 10px
        width: 100px
