.container
    display: flex
    flex-direction: column
    position: relative
    top: 3vh

.flex-nav
    display: flex
    position: fixed
    top: 6vh
    gap: 50px

.logo
    height: 15px

.menu
    height: 15px

.tittle
    font-family: "HUMANE"
    font-size: 3.125rem

.tittle h1
    margin-bottom: -8rem

.flex-arr-rol
    display: flex
    flex-direction: row
    align-items: center
    position: relative
    top: 12vh
    gap: 20px

.arrow
    height: 4rem

.roles
    font-family: "Enigma"
    font-size: 13px

.roles ul
    list-style: none
    padding: 0px

.scroll
    font-family: "Enigma"
    position: relative
    top: 60vw
    text-align: center
