// Menu 

.menu
    position: fixed
    width: 100%
    z-index: 1

.flex-nav
    display: flex
    top: 4.5vh
    position: relative
    gap: 170px
    justify-content: center
    align-items: center

.logo
    height: 20px
    z-index: -1

.btn-nav
    z-index: 5

.nav-container
    display: flex
    position: relative
    top: 30vh
    gap: 20px
    flex-direction: column
    align-items: center
    margin: auto

nav
    display: flex

aside
    background-color: $backgroundcolorFont
    width: 18.75rem
    height: 100vh
    position: fixed

.nav-container a
    color: $fontcolor
    text-decoration: none
    font-size: 1.75rem
    display: block
    margin: 20px
    font-family: "Enigma"

.container
    display: flex
    flex-direction: column
    position: relative
    bottom: 9.5vh
    gap: 9.2rem

.container-1
    display: block

.container-2
    display: block

.tittle
    font-family: "HUMANE"
    font-size: 3.125rem

.tittle h1
    margin-bottom: -8rem

.flex-arr-rol
    display: flex
    flex-direction: row
    align-items: center
    position: relative
    top: 12vh
    gap: 20px

.arrow
    height: 4em

.roles
    font-family: "Enigma"
    font-size: 13px

.roles ul
    list-style: none
    padding: 0px

.scroll
    display: none
    // margin: auto
    // position: relative
    // bottom: 100%
    // font-family: "Enigma"

button
    border: none
    outline: none
    cursor: pointer
    background-color: transparent

// responsive horizontal tablet 

@media only screen and (min-device-width: 768px) and (max-width: 1200px) and (orientation: landscape)

    .flex-nav
        gap: 520px

    .tittle
        font-size: 5rem

    .tittle h1
        margin-bottom: -13rem

    .container
        flex-direction: row

    .arrow
        height: 5.4rem
        margin-top: 4vh

    .roles
        font-size: 1.1rem
        margin-top: 6.4vh

    .flex-arr-rol
        top: 6em

    .scroll
        display: none

// responsive vertical tablet 

@media only screen and (min-device-width: 568px) and (max-width: 1200px) and (orientation: portrait)

    .flex-nav
        gap: 320px

    .tittle
        font-size: 4.4rem

    .tittle h1
        margin-bottom: -11rem

    .arrow
        height: 5.4rem

    .roles
        font-size: 1.1rem

// Responsive monitor 16/9
@media only screen and (min-device-width: 1200px) and (max-width: 2000px)

    .flex-nav
        gap: 450px
        justify-content: space-around

    .container
        flex-direction: row
        justify-content: space-around

    .container-1
        width: 500px

    .tittle
        font-size: 6.0rem

    .tittle h1
        margin-bottom: -16rem

    .flex-arr-rol
        top: 9em

    .arrow
        height: 6.4rem

    .roles
        font-size: 1.2rem
